body {
  font-family: "poppins";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/media/pas.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
}
header h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  padding: 120px 0 0 0;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 10px;
}

.container {
  max-width: 1400px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/media/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h3 {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer li {
  font-weight: 100;
  font-size: 12px;
  color: white;
  list-style: none;
}
footer ul {
  padding: 0;
}

footer a {
  font-weight: 100;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}

footer p {
  font-weight: 100;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
  padding: 30px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-weight: 200px;
    font-size: 38px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 1px;
  }
  header h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  header h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 3px;
    padding: 120px 0 0 0;
    margin: 0;
  }

  header a {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 22px;
    border-radius: 4px;
  }

  footer h3 {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
  }

  footer li {
    font-weight: 100;
    font-size: 10px;
    color: white;
    list-style: none;
  }
  footer ul {
    padding: 0;
  }

  footer a {
    font-weight: 100;
    font-size: 10px;
    color: white;
    opacity: 0.7;
  }

  footer p {
    font-weight: 100;
    font-size: 10px;
    color: white;
    opacity: 0.7;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    padding: 20px;
  }
}
