body {
  font-family: "poppins";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/media/pas.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 0;
}
header h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  padding: 120px 0 0 0;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 30px;
  grid-gap: 0;
}

.lift {
  border-radius: 10px;
}
.map {
  border-radius: 10px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: left;
}
main p {
  font-weight: 100;
  font-size: 16px;
  text-align: left;
  max-width: 450px;
}

img {
  border-radius: 10px;
}

.secondary-section {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.secondary-section h2 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

.secondary-section h4 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.secondary-section h5 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.secondary-section p {
  font-weight: 300;
  font-size: 14px;
}

.more-button {
  background-color: #05214a;
  color: white;
  text-decoration: none;
  padding: 15px 35px 15px 35px;
  text-transform: uppercase;
  border-radius: 10px;
}

.more-button:hover {
  background-color: #325487;
}

.more-main-button:hover {
  background-color: #ead11a;
  color: white;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.apres-1 {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/media/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 40px 0 40px 0;
}

footer h3 {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer li {
  font-weight: 100;
  font-size: 12px;
  color: white;
  list-style: none;
}
footer ul {
  padding: 0;
}

footer a {
  font-weight: 100;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}

footer p {
  font-weight: 100;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
  padding: 30px;
  width: 100%;
}

.soul-image {
  width: 200px;
  height: 200px;
  text-align: left;
}

@media (max-width: 900px) {
  body {
    text-align: center;
    margin: 0 auto;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-weight: 200px;
    font-size: 38px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 1px;
  }
  header h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
  header h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 3px;
    padding: 120px 0 0 0;
    margin: 0;
  }
  .grid-main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 0;
    text-align: center;
  }

  .lift {
    border-radius: 10px;
    max-width: 200px;
    max-height: 220px;
  }
  main h2 {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  main p {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
  }
  header a {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 22px;
    border-radius: 4px;
  }
  .secondary-section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
  }
  .grid-3-columns {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer h3 {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
  }

  footer li {
    font-weight: 100;
    font-size: 10px;
    color: white;
    list-style: none;
    text-align: center;
  }
  footer ul {
    padding: 0;
    text-align: center;
  }

  footer a {
    font-weight: 100;
    font-size: 10px;
    color: white;
    opacity: 0.7;
    text-align: center;
  }

  footer p {
    font-weight: 100;
    font-size: 10px;
    color: white;
    opacity: 0.7;
    text-align: center;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .footer-grid p {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}
