body {
  font-family: "poppins";
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/media/pas.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  padding: 120px 0 0 0;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  border-radius: 10px;
}

.container {
  max-width: 1400px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-weight: 200px;
    font-size: 48px;
    line-height: 1.5;
    margin: 0;
    letter-spacing: 2px;
  }
  header h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }
  header h3 {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 3px;
    padding: 120px 0 0 0;
    margin: 0;
  }

  header a {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 22px;
    border-radius: 4px;
  }
}
